{% extends "base.html.twig" %}

{% block metatitle %}
    Recherche Sessions | Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/hom.css') }}">
        <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block title %}
    searching result
{% endblock title %}

{% block main %}
    {% for session in sessions %}
        <div class="detail top20">
            <div class="img-card">
                <h2> {{ session.title }}</h2>
                <h3> {{ session.description }}</h3>
            </div>
        </div>
    {% endfor %}
{% endblock main %}